<div class="conteiner-fluid">
  <nav class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/alunos">
      <i class="fa fa-user"></i>
      Alunos
    </a>
    <a class="navbar-brand nav-link" href="#" routerLink="/cursos">
      <i class="fa fa-book "></i>
      Cursos
    </a>
    <a class="navbar-brand nav-link" href="#" routerLink="/matriculas">
      <i class="fa fa-university "></i>
      Matriculas
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>